.grid-container {
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "img1 a1 a1 a1"
        "a2 a2 a2 img2"
        "img3 a3 a3 a3"
        ". form form .";

}

.img1 {
    grid-area: img1;
}

.a1 {
    grid-area: a1;
}

.img2 {
    grid-area: img2;
    justify-self: right;
}

.a2 {
    grid-area: a2;
}

.img3 {
    grid-area: img3;
}

.a3 {
    grid-area: a3;
}

.form {
    grid-area: form;
}

.form {
    justify-self: center;
    text-align: right;
}


.a1 {
    text-align: justify;
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.a2 {
    text-align: justify;
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.a3 {
    text-align: justify;
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img1 {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.img2 {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.img3 {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    text-align: center;
    color: darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-container {
    padding: 10;
    border: 1px solid darkgrey;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    justify-self: center;
    background-image: url(images/dojo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
}

.logo {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    justify-self: center;
}